@model MyClass.Model.PRODUCT

@{
    ViewBag.Title = "THÔNG TIN SẢN PHẨM";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h2>THÔNG TIN SẢN PHẨM</h2>
    </div>
    <div class="col-md-6 text-right">
        <a href="@Url.Action("Index","PRODUCTs")" class="btn btn-success"><i class="fas fa-list"></i> Trở về danh sách</a>
    </div>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <div class="form-group">
            <label style="font-weight: bold"> Tên sản phẩm:</label>
            @Html.DisplayFor(model => model.NameProduct)
        </div>
        <div class="form-group">
            <label style="font-weight: bold"> Tên loại:</label>
            @Html.DisplayFor(model => model.CATEGORY.NameCategory)
        </div>
        <div class="form-group">
            <label style="font-weight: bold"> Img:</label>
            @Html.DisplayFor(model => model.Img)
        </div>
        <div class="form-group">
            <label style="font-weight: bold"> Slug:</label>
            @Html.DisplayFor(model => model.Slug)
        </div>
        <div class="form-group">
            <label style="font-weight: bold"> Thông tin chi tiết:</label>
            @Html.DisplayFor(model => model.Detail)
        </div>
        <div class="form-group">
            <label style="font-weight: bold"> Giá bán:</label>
            @Html.DisplayFor(model => model.PriceBuy)
        </div>
        <div class="form-group">
            <label style="font-weight: bold"> MetaKey:</label>
            @Html.DisplayFor(model => model.MetaKey)
        </div>
        <div class="form-group">
            <label style="font-weight: bold"> Mô tả:</label>
            @Html.DisplayFor(model => model.MetaDesc)
        </div>
        <div class="form-group">
            <label style="font-weight: bold"> Ngày tạo:</label>
            @Html.DisplayFor(model => model.Created_At)
        </div>
        <div class="form-group">
            <label style="font-weight: bold">Người tạo:</label>
            @Html.DisplayFor(model => model.Created_By)
        </div>
    </dl>
</div>
<div class="text-right">
    <a class="btn btn-success" href="@Url.Action("Edit", "PRODUCTs", new { @id = Model.IdProduct })">
        SỬA
    </a>
</div>
