<!DOCTYPE html>
<html>
<head>
    <title>Công cụ quản trị - @ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Public/css/all.min.css" rel="stylesheet" />
    <link href="~/Public/css/LayoutAdmin.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.css" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.js"></script>
    @RenderSection("head", required: false)
</head>
<body>
    <section class="header bg-dark">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand">
                    <span class="myhome">
                        <i class="fas fa-user-tie"></i>
                    </span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Khách hàng
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("Index","CUSTOMERs")">Danh sách khách hàng</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Nhân viên
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("Index","EMPLOYEEs")">Danh sách nhân viên</a>
                                <a class="dropdown-item" href="@Url.Action("Create","EMPLOYEEs")">Thêm nhân viên</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sản phẩm
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("Index","PRODUCTs")">Danh sách sản phẩm</a>
                                <a class="dropdown-item" href="@Url.Action("Create","PRODUCTs")">Thêm sản phẩm</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Index","CATEGORYs")">Danh sách loại sản phẩm</a>
                                <a class="dropdown-item" href="@Url.Action("Create","CATEGORYs")">Thêm loại sản phẩm</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Hóa đơn
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("Index","ORDERs")">Danh sách hóa đơn</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Bài viết
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("Index","POSTs")">Danh sách bài viết</a>
                                <a class="dropdown-item" href="@Url.Action("Create","POSTs")">Thêm bài viết</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Index","TOPICs")">Danh sách chủ đề</a>
                                <a class="dropdown-item" href="@Url.Action("Create","TOPICs")">Thêm chủ đề</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Khác
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("Index","CONTACTs")">Danh sách liên hệ</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Index","SLIDERs")">Danh sách hình ảnh</a>
                                <a class="dropdown-item" href="@Url.Action("Create","SLIDERs")">Thêm hình ảnh</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <a class="btn btn-outline-light" href="@Url.Action("Logout","Auth")">Thoát</a>
            </nav>
        </div>
    </section>
    <section class="maincontent">
        <div class="container-fluid my-3">
            @RenderBody()
        </div>
    </section>
    <footer>
            <div class="text-center">
                <span>Thiết kế bởi TDTHV</span>
            </div>
    </footer>

</body>
</html>
