@model IEnumerable<MyClass.Model.TOPIC>

@{
    ViewBag.Title = "Danh sách chủ đề";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <strong>DANH SÁCH CHỦ ĐỀ</strong>
            </div>
            <div class="col-md-6 text-right">
                <a href="@Url.Action("Create","TOPICs")" class="btn btn-sm btn-success"><i class="fas fa-plus-circle"></i> Thêm chủ đề</a>
            </div>
        </div>

    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped" id="myTable">
            <thead>
                <tr>
                    <th>Người tạo</th>
                    <th>Tên chủ đề</th>
                    <th>Slug</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.USER.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NameTopic)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Slug)
                        </td>
                        <td>
                            <a class="btn btn-sm btn-success" href="@Url.Action("Edit","TOPICs",new { @id = item.IdTopic })">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btn btn-sm btn-danger" href="@Url.Action("Delete","TOPICs",new { @id = item.IdTopic })">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                            <a class="btn btn-sm btn-info" href="@Url.Action("Details","TOPICs",new { @id = item.IdTopic })">
                                <i class="fas fa-info-circle"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        $('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/Vietnamese.json"
            }
        });
    });
</script>
