@model IEnumerable<MyClass.Model.SLIDER>

@{
    ViewBag.Title = "Danh sách Slider";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <strong>DANH SÁCH SLIDER</strong>
            </div>
            <div class="col-md-6 text-right">
                <a href="@Url.Action("Create","SLIDERs")" class="btn btn-sm btn-success"><i class="fas fa-plus-circle"></i> Thêm</a>
            </div>
        </div>

    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped" id="myTable">
            <thead>
                <tr>
                    <th style="width:80px;">Hình</th>
                    <th>Tên hình</th>
                    <th>Link</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        <img class="img-fluid" src="~/Public/images/slider/@item.Img" alt="@item.Img"/>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Link)
                    </td>
                    <td>
                        <a class="btn btn-sm btn-success" href="@Url.Action("Edit","SLIDERs",new { @id = item.IdSlider })">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="btn btn-sm btn-danger" href="@Url.Action("Delete","SLIDERs",new { @id = item.IdSlider })">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        <a class="btn btn-sm btn-info" href="@Url.Action("Details","SLIDERs",new { @id = item.IdSlider })">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        $('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/Vietnamese.json"
            }
        });
    });
</script>
